@import url('https://fonts.googleapis.com/css2?family=Oi&family=Silkscreen:wght@400;700&display=swap');
@import 'tailwindcss';

@theme {
    --font-navbar: 'Silkscreen', ui-sans-serif;
    --font-name-bold: "Oi";
    --font-name-light: var(--font-custom);
}

@variant dark (&:where(.dark, .dark *));